.BLUE {
    background-color: #85889e;
  }
  
  
  .HEADING {
    background-color: #666A86;
    height: 100px;
    width: 100%;
    font-family: 'Lato';
  }

h1, h2, h3, h4, h5, h6, a, p, li {
    font-family: georgia
}

.btn-facebook {
    background: #3B5998;
    border-radius: 0;
    color: #fff;
    border-width: 1px;
    border-style: solid;
    border-color: #263961; 
  }
  .btn-facebook:link, .btn-facebook:visited {
    color: #fff;
  }
  .btn-facebook:active, .btn-facebook:hover {
    background: #263961;
    color: #fff;
  }